#projects{
    background-color: #f5f5f5;
    padding: 5rem 0;
}

.projects-container{
    margin: 0rem 15rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.projects-content{
    display: grid;
    gap: 5rem;
}

.projects-body{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 3rem;
}

.projects-img{
    width: 20vw;
    height: auto;
    object-fit: cover;
    margin-right: 2.5rem;
    overflow: visible;
}
.projects-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.projects-container h1,
.projects-text h1{
    color: #147efb;
    font-size: 2em;
}

.projects-text h2{
    color: #000;
    font-size: 1.5em;
    margin-bottom: 2.5rem;
}

.projects-text p{
    color: #000;
    font-size: 1.2em;
}

.projects-skills,
.projects-links{
    align-items: center;
    display: flex;
    gap: 3rem;
    position: relative;
    margin-top: 2.5rem;
}

.projects-links h3,
.projects-skills h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    border-right: 2px solid #000;
}

.projects-skills ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    position: relative;
}

.projects-links img, .projects-links svg,
.projects-skills img, .projects-skills svg {
    transition: transform 0.3s ease;
}

.projects-links img:hover, .projects-links svg:hover,
.projects-skills img:hover, .projects-skills svg:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0);
    transition: box-shadow 0.3s ease;
}

.projects-links img:hover, .projects-links svg:hover,
.projects-skills img:hover, .projects-skills svg:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (max-width: 1200px) {
    .projects-container{
        margin: 0rem 5rem;
    }

    .projects-skills,
    .projects-links{
        gap: 1.5rem;
    }

    .projects-skills h3,
    .projects-links h3{
        padding-right: 1rem;
    } 

}

@media (max-width: 900px){
    .projects-container{
        margin: 0rem 2rem;
    }

    .projects-body{
        flex-direction:column-reverse;
        align-items: flex-start;
        gap: 2rem;
    }

    .projects-img{
        align-self: center;
        margin-right: 0;
    }

    .projects-skills,
    .projects-links{
        flex-direction: column;
        width: 100%;
        border-right: none;
    }

    .projects-skills h3,
    .projects-links h3{
        border-right: none;
        margin-bottom: 1rem;
        padding-right: 0;
    }

}